# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Visual Studio Cache Directory
.vs/

# Compressed Files
*.7z
*.rar
*.zip

x64/
*.bak

# Assimp
External/assimp/*
!External/assimp/assimp.zip
Game/Debug.log

# Temp Files
Game/Engine/Temp/*
Game/Engine.lib
Game/EngineDebug.lib

#Intermediate
Intermediate/*
*.pdb
*idb